# Angular HTML
snippet rep
	div(ng-repeat='${1} in ${2}')

endsnippet
snippet repf
	div(ng-repeat='${1} in ${2}' | ${3})

endsnippet
snippet repi
	div(ng-repeat='${1} in ${2}' track by $index)

endsnippet
snippet hide
	div(ng-hide='${1}')

endsnippet
snippet show
	div(ng-show='${1}')

endsnippet
snippet if
	div(ng-if='${1}')
endsnippet
